body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 64px;
  position: relative;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 48px;
  background-color: salmon;
  box-shadow: 0 0 3px black;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 16px;
}

.nav-item {
  display: inline-block;
}

.pull-right {
  margin-left: auto;
}

.main-left {
  max-width: 700px;
}

.main-right {
  position: fixed;
  right: 50%;
  margin-right: -600px;
  top: 64px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .poll-form {
    border-radius: 20px;
    margin: 20px;
    width: 440px;
    background-color: salmon;
    box-shadow: 0 0 3px black;
    .new_poll {
      margin: 40px;
    }
    .new_poll input {
      width: 100%;
      box-sizing: border-box;
      line-height: 24px;
    }
    ul {
      list-style: none;
      margin: 20px 0 0 0;
      padding: 0;
    }
    .question input {
      line-height: 32px;
      font-size: 18px;
    }
    .exp-date {
      margin: 20px 0;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
}

.poll {
  margin: 20px auto;
  width: 500px;
  height:100px;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: white;
}

.user-interface {
  border: 1px solid red;
  margin: 20px;
  width: 440px;
}