<div class="navbar">
  <ul class="nav-links">
    <div class="left">
      <li class="nav-item">Link 1 left</li>
      <li class="nav-item">Link 2 left</li>
    </div>
    <div class="right">
      <li class="nav-item pull-right">Link 3 right</li>
      <li class="nav-item pull-right">Link 4 right</li>
    </div>
  </ul>
</div>
